<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="FlightOrder Automation Test">
        <classes>
            <class name="TestCases.TestCase">
                <methods>
                    <include name="TC01"/>
<!--                    <include name="TC02"/>-->
<!--                    <include name="TC03"/>-->
<!--                    <include name="TC04"/>-->
<!--                    <include name="TC05"/>-->
<!--                    <include name="TC06"/>-->
<!--                    <include name="TC07"/>-->
<!--                    <include name="TC08"/>-->
<!--                    <include name="TC09"/>-->
<!--                    <include name="TC10"/>-->
<!--                    <include name="TC11"/>-->
<!--                    <include name="TC14"/>-->
<!--                    <include name="TC15"/>-->
<!--                    <include name="TC16"/>-->
<!--                    <include name="testCaseRegistrationPageLink"/>-->
<!--                    <include name="testCaseForgotPassPageLink"/>-->
                </methods>
            </class>
        </classes>
    </test>
</suite>